<!-- <div>
    <h2>{{ product.title }}</h2>
    <img src="http://placehold.it/250x250" alt=""/>
    <p>{{ product.description }}</p>
    <p>${{ product.price }}  <span *ngIf="product.cart && product.cart.length" class="text-success">
            ({{ product.cart[0].qty }} in cart)</span></p>
    <div class="btn-group">
        <a class="btn btn-default" [routerLink]="['Home']">Continue Shopping</a>
        <a class="btn btn-default" (click)="addItem(product)">
            Add To Cart
        </a>
    </div>
</div> -->
<div class="slds-card">
  <div class="slds-card__header slds-grid">
    <div class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
        </svg>
      </div>
      <div class="slds-media__body">
        <h2 class="slds-text-heading--small slds-truncate">{{product.title}}</h2>
      </div>
    </div>
  </div>
  <div class="slds-card__body">
    <div class="slds-text-body--regular">
        <!-- <h4>{{ product.title }}</h4> -->
        <img src="http://placehold.it/250x250" width="100%" class="img-responsive" />
        <div class="slds-p-around--medium">
          <h2 class="slds-text-heading--medium slds-m-bottom--medium">{{ product.title }}</h2>
          <h4 class="slds-text-heading--small slds-m-bottom--medium">{{ product.summary }}</h4>
          <p class="slds-text-body--regular slds-m-bottom--medium">${{ product.price }} <span *ngIf="product.cart.length" class="text-success">
          ({{ product.cart[0].qty }} in cart)</span></p>
          <div class="slds-button-group" role="group">
              <a class="slds-button slds-button--neutral" [routerLink]="['ProductDetail', {productId: product.id}]">Learn More</a>
              <a class="slds-button slds-button--brand" (click)="addItem(product)">
                  Add To Cart
              </a>
          </div>
        </div>
    </div>
  </div>
  <div class="slds-card__footer"><a href="#">View All <span class="slds-assistive-text">entity type</span></a></div>
</div>
